label {
  display: inline-block !important;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400 !important; }

div#result_area {
  display: flex; }
  div#result_area div#catalogue_list {
    flex-basis: 70%;
    flex-grow: 0;
    flex-shrink: 0; }
  div#result_area div#library_info {
    flex-basis: 28%;
    flex-grow: 0;
    flex-shrink: 0; }

.box h2 span {
  font-size: .7em !important;
  color: black; }

.box li {
  list-style-type: none;
  margin: 5px 0;
  padding: 5px 0;
  clear: both;
  width: 100%; }
  .box li .authors {
    display: block; }

.box footer {
  padding: 4px 0px;
  margin-top: auto;
  margin-bottom: 10px;
  width: 100%;
  text-align: right; }
  .box footer a {
    background: whitesmoke;
    border: 1px solid #ccc;
    padding: 4px 8px;
    font-size: 0.9em; }
